.body {

    margin: 0px;
}

.background {

    width: 100%;
    height: 100vh;
    
    background-image: url(resources/background_.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
}

.boy {
    height: 260px;
    margin-top: 306px;
    position: absolute;
}

.box {
    width: 240px;
    height: 200px;
   /* background-color: brown; */
    position: absolute;
    margin-top: 410px;
    background-image: url(resources/ComplexRegalGelding.webp);
    background-size: contain;
    background-repeat: no-repeat;
    
}
    